mixin radio-buttons(orientation)
  .radio-buttons 
    .radio-buttons__title orientation
    .radio-buttons__button
      label.radio-buttons__label 
        input.radio-buttons__input(type="radio") 
        |horizontal
    .radio-buttons__button
      label.radio-buttons__label 
        input.radio-buttons__input(type="radio") 
        |vertical 