{
  "extends": "airbnb-typescript/base",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "func-names": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }],
    "no-new": 0,
    "import/prefer-default-export": "off",
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/no-unused-expressions": ["off"],
    "default-case": "off"
  },
  "env": {
    "jquery": true
  }
}