include ../src/components/panel-configuration/panel-configuration.pug 
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Demo Page 
  body 
    +panel-configuration({
      orientation: 'horizontal',
      currentValue: [0],
      minValue: -150,
      maxValue: 150,
      step: 2,
      isShowValueWindow: 'true',
      isShowScaleValues: 'true'
    })
    +panel-configuration({
      orientation: 'horizontal',
      currentValue: [-300, 300],
      minValue: -400,
      maxValue: 400,
      step: 3,
      isShowValueWindow: 'false',
      isShowScaleValues: 'true',
    })
    +panel-configuration({
      orientation: 'vertical',
      currentValue: [-400, 400],
      minValue: -500,
      maxValue: 500,
      step: 4,
      isShowValueWindow: 'true',
      isShowScaleValues: 'false',
    })
    +panel-configuration({
      orientation: 'vertical',
      currentValue: [500],
      minValue: -700,
      maxValue: 700,
      step: 6,
      isShowValueWindow: 'false',
      isShowScaleValues: 'false',
    })