.value-window {
  position: absolute;
  font-size: 0.8125rem;
  font-family: sans-serif;
  background: #FFFFFF;
  border: 0.0625rem solid rgba(31, 32, 65, 0.25);
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  z-index: 2;

  &_horizontal { 
    bottom: 1.25rem;
    grid-column: 2 / 6;
  }

  &_vertical {
    grid-row: 2 / 6;
  }
}